{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block title %}修改游记 - {% endblock %}

{% block styles %}
    {{ super() }}
    {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>修改游记</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ render_form(form) }}
            {{ ckeditor.config(name='body') }}
        </div>
    </div>
{% endblock %}

