{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}找回密码 - {% endblock %}

{% block content %}
    <div class="page-header">
        <h1>找回密码</h1>
    </div>
    <div class="row">
        <div class="col-sm-4 ">
            <div class="card mb-3 w-100 bg-light">
                <h3 class="card-header">修改密码
                    <button id="get_pwd" type="button" class="btn btn-primary float-right">发送验证码</button>
                </h3>
                <div class="card-body">
                    {{ render_form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
