{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}找回密码 - {% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-8">
                {% include 'main/carousel.html' %}
            </div>
            <div class="col-sm-4 ">
                <div class="card mb-3 w-100 bg-light">
                    <h3 class="card-header">找回密码</h3>
                    <div class="card-body">
                        {{ render_form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
