{% extends 'user/settings/base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}修改密码 - {% endblock %}

{% block setting_content %}
    <div class="card w-100 bg-light">
        <h3 class="card-header">修改密码
            <a href="{{ url_for('user.send_verify') }}">
                <button id="getCode" type="button" class="btn btn-primary float-right" onclick="window.location.href = '{{ url_for('user.send_verify') }}'">发送验证码</button>
            </a>
        </h3>
        <div class="card-body">
            {{ render_form(form) }}
        </div>
    </div>
{% endblock %}
