<div class="mt-wrapper">
    <div class="mt-travelnotes">

        <!--下导航-->
        <div class="navbar1">
            <ul class="tn-nav">
                <li class=" tn-nav-hot active">
                    <a href="#">热门游记</a>
                </li>
                <li class=" tn-nav-new">
                    <a href="javascript:void(0);" rel="nofollow" data-type="3">最新发表</a>
                </li>
            </ul>
            <div class="tn-write">
                <a class="btn-add" {% if current_user.is_authenticated %}href="#"
                   {% else %}href="{{ url_for('auth.login') }}" {% endif %}>
                    <i></i>写游记
                </a>
            </div>
        </div>

        <!--内容-->
        <div class="_j_tn_content ">
            <div class="tn-list">
                <div class="tn-item list-group-item-action">
                    <div class="tn-image">
                        <a href="#">
                            <img src="{{ url_for('static', filename='img/101.jpg') }}"
                                 style="width: 100%;height: 100%;margin-left: 10px;"/>
                        </a>
                    </div>
                    <div class="tn-wrapper ">
                        <dl>
                            <dt>
                                <a href="#" target="_blank">忙里偷闲，中秋温州耍一下</a>
                            </dt>
                            <dd>
                                <a href="#" target="_blank">——“今天南航会员日” “唉我去，飞 温州 含税才340啊” 几分钟后 ——“你要去 温州 啊？”
                                    “啊，我都下单付款了” ——“。。。 温州 有啥啊？” “我哪儿知道，我也没去过，这次回来就...</a>
                            </dd>
                        </dl>
                        <div class="tn-extra">
                            <span class="tn-user">
                                <a href="#" target="_blank" rel="nofollow"
                                   style="color: #000000;">
                                    <img src="{{ url_for('static', filename='img/test1.ico') }}">
                                        用户
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="tn-item list-group-item-action">
                    <div class="tn-image">
                        <a href="#">
                            <img src="{{ url_for('static', filename='img/101.jpg') }}"
                                 style="width: 100%;height: 100%;margin-left: 10px;"/>
                        </a>
                    </div>
                    <div class="tn-wrapper ">
                        <dl>
                            <dt>
                                <a href="#" target="_blank">忙里偷闲，中秋温州耍一下</a>
                            </dt>
                            <dd>
                                <a href="#" target="_blank">——“今天南航会员日” “唉我去，飞 温州 含税才340啊” 几分钟后 ——“你要去 温州 啊？”
                                    “啊，我都下单付款了” ——“。。。 温州 有啥啊？” “我哪儿知道，我也没去过，这次回来就...</a>
                            </dd>
                        </dl>
                        <div class="tn-extra">
                            <span class="tn-user">
                                <a href="/" target="_blank" rel="nofollow"
                                   style="color: #000000;">
                                    <img src="{{ url_for('static', filename='img/test1.ico') }}">
                                        用户
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="tn-item list-group-item-action">
                    <div class="tn-image">
                        <a href="#">
                            <img src="{{ url_for('static', filename='img/101.jpg') }}"
                                 style="width: 100%;height: 100%;margin-left: 10px;"/>
                        </a>
                    </div>
                    <div class="tn-wrapper ">
                        <dl>
                            <dt>
                                <a href="#" target="_blank">忙里偷闲，中秋温州耍一下</a>
                            </dt>
                            <dd>
                                <a href="#" target="_blank">——“今天南航会员日” “唉我去，飞 温州 含税才340啊” 几分钟后 ——“你要去 温州 啊？”
                                    “啊，我都下单付款了” ——“。。。 温州 有啥啊？” “我哪儿知道，我也没去过，这次回来就...</a>
                            </dd>
                        </dl>
                        <div class="tn-extra">
                            <span class="tn-user">
                                <a href="/u/919270.html" target="_blank" rel="nofollow"
                                   style="color: #000000;">
                                    <img src="{{ url_for('static', filename='img/test1.ico') }}">
                                        用户
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="f-list">
                    <ul class="pagination">
                        <li>
                            <a href="#">&laquo;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li class="disabled">
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>