<div class="mt-wrapper">
    <div class="mt-travelnotes" id="jump_here">
        <!--下导航-->
        <div class="navbar1">
            <ul class="tn-nav">
                <li class=" tn-nav-hot active">
                    <a href="#">热门游记</a>
                </li>
                <li class=" tn-nav-new">
                    <a href="javascript:void(0);" rel="nofollow" data-type="3">最新发表</a>
                </li>
            </ul>
            <div class="tn-write">
                <a class="btn-add" {% if current_user.is_authenticated %}href="{{ url_for('user.write_travels') }}"
                   {% else %}href="{{ url_for('auth.login') }}" {% endif %}>
                    <i></i>写游记
                </a>
            </div>
        </div>

        <!--内容-->
        <div class="_j_tn_content">
            <div class="tn-list">
                {% for travel in travels %}
                    <div class="tn-item list-group-item-action">
                        <div class="tn-image">
                            <a href="{{ url_for('main.show_travels', travel_id=travel.id) }}" target="_blank">
                                <img src="{{ url_for('user.show_head', filename=travel.travel_head.filename) }}"
                                     style="width: 100%;height: 100%;margin-left: 10px;"/>
                            </a>
                        </div>
                        <div class="tn-wrapper ">
                            <dl>
                                <dt>
                                    <a href="{{ url_for('main.show_travels', travel_id=travel.id) }}"
                                       target="_blank">{{ travel.title }}</a>
                                </dt>
                                <dd>
                                    <a href="{{ url_for('main.show_travels', travel_id=travel.id) }}" target="_blank">
                                        {% if length(travel.body)>130 %}
                                            {{ travel.body|striptags|truncate(150) }}
                                        {% else %}
                                            {{ travel.body|striptags }}
                                        {% endif %}
                                    </a>
                                </dd>
                            </dl>
                            <div class="tn-extra">
                            <span class="tn-user">
                                <a href="{{ url_for('user.user_index', username=travel.author.username) }}"
                                   rel="nofollow"
                                   style="color: #000000;">
                                    <img class="avatar-xs"
                                         src="{{ url_for('main.get_avatar', filename=travel.author.avatar_s) }}">
                                        {{ travel.author.nick_name }}
                                </a>
                            </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="f-list">
                    {% if travels %}
                        <div class="page-footer">{{ render_pagination(pagination, fragment='jump_here') }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>