{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import travel_card %}
{% block title %}{{ user.nick_name }} - {% endblock %}
{% block content %}
    {% include 'user/my_detailed.html' %}
    <div class="row">
        <div class="col-md-12" >
        {% if user.public_collections or current_user==user%}
            {% if collects %}
                {% for collect in collects %}
                    {{ travel_card(collect.collected) }}
                {% endfor %}
            {% else %}
                <div class="tip text-center">
                    <h3>没有收藏</h3>
                </div>
            {% endif %}
        {% else %}
            <div class="tip">
                <h3>收藏不可见</h3>
            </div>
        {% endif %}
        </div>
    </div>
    {% if travels %}
        <div class="page-footer">
            {{ render_pagination(pagination, align='center') }}
        </div>
    {% endif %}
{% endblock %}
