{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import user_card with context %}

{% block title %}{{ user.nick_name }} - {% endblock %}

{% block content %}
    {% include 'user/my_detailed.html' %}
    <div class="row">
        <div class="col-md-12">
        {% if user.public_following or current_user==user%}
            {% if follows|length != 1 %}
                {% for follow in follows %}
                    {% if follow.followed != user %}
                        {{ user_card(user=follow.followed) }}
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="tip">
                    <h3>还未有关注</h3>
                </div>
            {% endif %}
        {% else %}
            <div class="tip">
                <h3>用户已隐藏</h3>
            </div>
        {% endif %}
        </div>
    </div>
    {% if follows|length != 1 %}
        <div class="page-footer">
            {{ render_pagination(pagination) }}
        </div>
    {% endif %}
{% endblock %}
