<div class="card bg-light mb-3 w-100 sidebar-card" style="margin-top: 1rem">
    <div class="card-body">
        <div class="row">
            <a href="{{ url_for('user.user_index', username=travel.author.username) }}">
                <img class="sidebar-avatar rounded avatar-m"
                     src="{{ url_for('main.get_avatar', filename=travel.author.avatar_m) }}">
            </a>
            <div class="sidebar-profile">
                <h6 class="card-title">
                    <a href="{{ url_for('user.user_index', username=travel.author.username) }}">{{ travel.author.nick_name }}</a>
                </h6>
                <p class="card-subtitle mb-2 text-muted">{{ travel.author.username }}</p>
            </div>
        </div>
    </div>
</div>
<div class="card bg-light mb-3 w-100">
    <div class="card-body">
        <div id="tags">
            <p>
                {% if travel.tags %}
                    {% for tag in travel.tags %}
                        <a class="badge badge-light"
                           href="{{ url_for('main.show_tag', tag_id=tag.id) }}" target="_blank"><span
                                class="oi oi-tag"></span> {{ tag.name }}</a>
                    {% endfor %}
                {% endif %}
                {% if current_user == travel.author %}
                    <a id="tag-btn" href="#!">
                        <small><span class="oi oi-pencil"></span> 编辑标签</small>
                    </a>
                {% endif %}
            </p>
        </div>
        {% if current_user == travel.author %}
            <div id="tag-form">
                <form action="{{ url_for('user.new_tag', travel_id=travel.id) }}" method="post">
                    {{ tag_form.csrf_token }}
                    {{ render_field(tag_form.tag) }}
                    <a class="btn btn-light btn-sm" id="cancel-tag">取消</a>
                    {{ render_field(tag_form.submit, class='btn btn-success btn-sm') }}
                </form>
                {% if travel.tags %}
                    <hr>
                    {% for tag in travel.tags %}
                        <a class="dead-link" href="#!"
                           data-href="{{ url_for('user.delete_tag', travel_id=travel.id, tag_id=tag.id) }}"
                           data-toggle="modal" data-target="#confirm-delete" title="Delete tag">
                            <span class="badge badge-danger">
                                {{ tag.name }}
                                <span class="oi oi-trash" aria-hidden="true"></span>
                            </span>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
        {% if not current_user == travel.author %}
            {% if current_user.is_authenticated %}
                {% if current_user.is_collecting(travel) %}
                    <form class="inline" method="post"
                          action="{{ url_for('user.uncollect', travel_id=travel.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-outline-secondary btn-sm">
                            <span class="oi oi-x"></span> 取消收藏
                        </button>
                    </form>
                {% else %}
                    <form class="inline" method="post"
                          action="{{ url_for('user.collect', travel_id=travel.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-outline-primary btn-sm">
                            <span class="oi oi-star"></span> 收藏
                        </button>
                    </form>
                {% endif %}
            {% else %}
                <a class="btn btn-primary btn-sm text-white" href="{{ url_for('auth.login') }}">
                    <span class="oi oi-star"></span>收藏
                </a>
            {% endif %}
        {% endif %}
        {% if travel.collectors %}
            <a href="{{ url_for('main.show_collectors', travel_id=travel.id) }}">{{ travel.collectors|length }}
                人已收藏</a>
        {% endif %}
    </div>
</div>
