{% extends 'base.html' %}
{% block content %}

    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="page-header">
                <h1>
                    {{ travel.title }}
                </h1>
                <small>
                    <span class="oi oi-clock"></span> 发布日期: {{ moment(travel.timestamp).format('LL') }}
                </small>
            </div>
            {{ travel.body|safe }}
            {% if current_user == travel.author %}
                <a class="btn btn-primary btn-sm text-white"
                   href="{{ url_for('user.edit_travels', travel_id=travel.id) }}">编辑文章</a>
                <a class="btn btn-danger btn-sm text-white" href="">删除</a>
            {% endif %}
            <a class="btn btn-primary btn-sm text-white" data-toggle="modal" data-target="#share-modal">分享</a>
        </div>

        <div class="modal fade" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="shareModalLabel">Permalink</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body w-100">
                        <input class="form-control"
                               value="{{ url_for('main.show_travels', travel_id=travel.id, _external=True) }}"
                               readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {% include 'main/travel_sidebar.html' %}
        </div>
    </div>

{% endblock %}