<div class="card bg-light mb-3 w-100 sidebar-card" style="margin-top: 1rem">
    <div class="card-body">
        <div class="row">
            <a href="{{ url_for('user.user_index', username=travel.author.username) }}">
                <img class="sidebar-avatar rounded avatar-m"
                     src="{{ url_for('main.get_avatar', filename=travel.author.avatar_m) }}">
            </a>
            <div class="sidebar-profile">
                <h6 class="card-title">
                    <a href="{{ url_for('user.user_index', username=travel.author.username) }}">{{ travel.author.nick_name }}</a>
                </h6>
                <p class="card-subtitle mb-2 text-muted">{{ travel.author.username }}</p>
            </div>
        </div>
    </div>
</div>
